@using Microsoft.AspNetCore.Identity
@using ThanhBuoi.Models

@inject SignInManager<TaiKhoan> SignInManager
@inject UserManager<TaiKhoan> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Admin");
    var isManager = user != null && await UserManager.IsInRoleAsync(user, "Manager");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="~/lib/chart/chart.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Template Javascript -->
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a asp-controller="Home" asp-action="Index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">THÀNH BƯỞI</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/img/avt.png" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@user?.Ten</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a asp-controller="Booking" asp-action="Index" class="nav-item text-light nav-link btn btn-primary mt-4">Đặt Vé</a>
                    <a asp-controller="GuiHang" asp-action="Create" class="nav-item text-light nav-link btn btn-primary mt-4">Gửi Hàng</a>
                    <a asp-controller="Ve" asp-action="Index" class="nav-item text-light nav-link btn btn-primary mt-4">Tìm vé</a>
                    @if (isAdmin)
                    {
                        <a asp-controller="Xes" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Xe</a>
                        <a asp-controller="LoaiXes" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Loại Xe</a>
                        <a asp-controller="Tuyens" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Tuyến</a>
                        <a asp-controller="DiaDiems" asp-action="Index" class="nav-item nav-link"><i class="bi bi-geo-alt me-2"></i>Địa điểm</a>
                        <a asp-controller="TaiKhoan" asp-action="Index" class="nav-item nav-link"><i class="bi bi-person me-2"></i>Tài Khoản</a>
                        <a asp-controller="Donhangs" asp-action="Index" class="nav-item nav-link"><i class="bi bi-cart me-2"></i>Đơn hàng</a>
                        <a asp-controller="Chuyens" asp-action="Index" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Chuyến</a>
                        <a asp-controller="DoanhThu" asp-action="Index" class="nav-item nav-link"><i class="bi bi-graph-up me-2"></i>Doanh Thu</a>
                        <a asp-controller="Tintucs" asp-action="Index" class="nav-item nav-link">
                            <i class="bi bi-newspaper me-2"></i>Tin tức
                        </a>
                    }
                
                  

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <div class="container">
                    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                    </a>
                    <a href="#" class="sidebar-toggler flex-shrink-0">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="navbar-nav align-items-center ms-auto">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                <img class="rounded-circle me-lg-2" src="~/img/avt.png" alt="" style="width: 40px; height: 40px;">
                                <span class="d-none d-lg-inline-flex"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                @if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                        <button type="submit" class="dropdown-item btn btn-link text-dark">Log Out</button>
                                    </form>
                                }
                                else
                                {
                                    <a href="#" class="dropdown-item">Log In</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-circle me-2"></i> @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-circle me-2"></i> @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script>
        $(document).ready(function () {
            $('.sidebar-toggler').click(function () {
                $('.sidebar, .content').toggleClass('open');
            });
        });
    </script>

</body>

</html>