@model ThanhBuoi.Models.Ve

@{
    ViewData["Title"] = "Vé";
}
<style>
    /* Style for search form */
    .input-group {
        margin-bottom: 20px;
    }

    /* Style for card */
    .card {
        margin-top: 20px;
    }

    /* Style for card title */
    .card-title {
        color: #333;
        font-size: 1.2rem;
    }

    /* Style for card text */
    .card-text {
        color: #666;
    }

    /* Style for detail button */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .btn-primary:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
        }

</style>
<div class="container pt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light rounded">
                <div class="card-body">
                    <form method="get" action="@Url.Action("Index", "Ve")">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="mave" placeholder="Nhập mã vé ..." aria-label="Search for Ve..." aria-describedby="button-search">
                            <button class="btn btn-primary" type="submit" id="button-search">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Ten</h5>
                        <p class="card-text"><strong>Mã Vé:</strong> @Model.MaVe</p>
                        <p class="card-text"><strong>Điểm Đón:</strong> @Model.DiemDon</p>
                        <p class="card-text"><strong>Trạng Thái:</strong> @(Model.TrangThai == TrangThaiVe.Booked ? "Đã đặt ": " Đã Hủy")</p>
                        <p class="card-text"><strong>Giá Tiền:</strong> @Model.Tien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
                        <a asp-route-id="@Model.Id" asp-action="Detail" class="btn btn-primary"> Chi tiết</a>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
