@model ThanhBuoi.Models.Chuyen

@{
    ViewData["Title"] = "Chuyến Details";
}

<div class="container mt-4">
    <div class="card mb-4 bg-light rounded">
        <div class="card-header bg-primary p-2">
            <h4 class="card-title text-white">Thông tin của tuyến </h4>

        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Chuyến:</dt>
                <dd class="col-sm-9">@Model.Ten</dd>

                <dt class="col-sm-3">Điểm đón:</dt>
                <dd class="col-sm-9">@Model.DiemDon</dd>

                <dt class="col-sm-3">Thời gian đi:</dt>
                <dd class="col-sm-9">@Model.ThoiGianDi</dd>

                <dt class="col-sm-3">Trạng thái:</dt>
                <dd class="col-sm-9">@Model.Trangthai</dd>

                <dt class="col-sm-3">Giá:</dt>
                <dd class="col-sm-9">@Model.Gia.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

    <div class="container mt-4 bg-light rounded-1">
        <h3 class="my-4 p-3">Danh sách vé</h3>
        <div class="row mt-4 mb-4">
            <div class="col-md-6 offset-md-3">
                <form id="searchForm" method="get">
                    <div class="input-group">
                        <input id="searchInput" type="text" class="form-control" name="searchString" placeholder="Tìm kiếm vé...">
                        <button id="searchButton" class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4 bg-light rounded-1">
            @foreach (var ve in ViewBag.listVe)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            @if (ve.MaVe == null)
                            {
                                <div class="badge bg-success mb-2">Trống</div>
                            }
                            else
                            {
                                <div class="badge bg-danger mb-2">Đã Đặt</div>
                            }
                            <h5 class="card-title">Số Ghế: @ve.Ghe.Ten</h5>
                            @if (ve.TrangThai == TrangThaiVe.Booked)
                            {
                                <p class="card-text">Tên: @ve.Ten</p>
                                <p class="card-text">CMND: @ve.CMND</p>
                            }else{
                                <p class="card-text">Ghế trống</p>

                            }
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Ve" asp-action="Detail" asp-route-id="@ve.Id" class="btn btn-primary">Chi tiết vé</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
