@model IEnumerable<ThanhBuoi.Models.Diadiem>

@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="col-12"> 
       <div class="bg-light rounded p-4 m-4 me-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="tinh" name="Tinh" aria-label="Tỉnh" onchange="getDistricts()">
                            <option selected disabled>Chọn tỉnh</option>
                        </select>
                        <label for="tinh">Tỉnh</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="huyen" name="huyen" aria-label="Huyện" onchange="getCommunes()">
                            <option selected disabled>Chọn huyện</option>
                        </select>
                        <label for="huyen">Huyện</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="xa" name="xa" aria-label="Xã" onchange="disbleAddress()">
                            <option selected disabled>Chọn xã</option>
                        </select>
                        <label for="xa">Xã</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3 w-75">
                <input type="text" id="diaChi" name="diaChi" class="form-control" id="floatingInput" placeholder="Địa Chỉ" disabled>
                <label for="floatingInput">Địa Chỉ</label>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4 m-4">
            <h6 class="mb-4">Quản Lí Địa Chỉ</h6>
            @using (Html.BeginForm("Index", "Diadiems", FormMethod.Get))
            {
                <div class="form-floating mb-3 w-25">
                    <select class="form-select" id="floatingSelect" name="t" aria-label="Floating label select example" onchange="this.form.submit()">
                        <option selected disabled>Tỉnh thành</option>
                        <option value="all" >Tất cả</option>
                        @foreach (var item in ViewBag.listTinhThanh)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <label for="floatingSelect">Works with selects</label>
                </div>
            }
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tỉnh</th>
                            <th scope="col">Địa Chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                                <td>@Html.DisplayFor(modelItem => item.Diachi)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary h-auto">Sửa</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary h-auto" >Các tuyến</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger h-auto">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@* <script src="~/js/diachi/create.js"></script>
 *@
 <script>
    // Function to fetch provinces and populate the dropdown
    function fetchProvinces() {
        fetch('https://vapi.vnappmob.com/api/province/')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                data.results.forEach(province => {
                    $('#tinh').append(`<option data-id="${province.province_id}" value="${province.province_name}">${province.province_name}</option>`);
                });
            })
            .catch(error => {
                console.error('Error fetching provinces:', error);
            });
    }

    // Call fetchProvinces function to populate the dropdown when the page loads
    fetchProvinces();

    // Function to get districts based on selected province
    function getDistricts() {
        var provinceId = $('#tinh option:selected').data('id');

        // Clear previous options
        $('#huyen').empty().append('<option selected disabled>Chọn huyện</option>');

        fetch(`https://vapi.vnappmob.com/api/province/district/${provinceId}`)
            .then(response => response.json())
            .then(data => {
                // Iterate over districts and append options to the dropdown
                data.results.forEach(district => {
                    $('#huyen').append(`<option data-id="${district.district_id}" value="${district.district_name}">${district.district_name}</option>`);
                });
            })
            .catch(error => {
                console.error('Error fetching districts:', error);
            });
    }

    // Function to get communes based on selected district
    function getCommunes() {
        var districtId = $('#huyen option:selected').data('id');

        // Clear previous options
        $('#xa').empty().append('<option selected disabled>Chọn xã</option>');

        fetch(`https://vapi.vnappmob.com/api/province/ward/${districtId}`)
            .then(response => response.json())
            .then(data => {
                // Iterate over communes and append options to the dropdown
                data.results.forEach(ward => {
                    $('#xa').append(`<option data-id="${ward.ward_id}" value="${ward.ward_name}">${ward.ward_name}</option>`);
                });
            })
            .catch(error => {
                console.error('Error fetching communes:', error);
            });

        // Enable/disable "Địa Chỉ" input based on whether "Xã" is selected

    }
    function disbleAddress() {
        $("#diaChi").prop("disabled", false);
    }
    // Call getCommunes function on page load in case "Xã" is pre-selected

</script>