@model ThanhBuoi.Models.Ve
@{
    ViewData["Title"] = "Chi tiết Vé";
}
<style>
    .highlighted-info {
        background: linear-gradient(135deg, #e9ecef 25%, #f8f9fa 100%);
        padding: 20px;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        font-size: 1.1em;
        color: #495057;
    }

    .highlighted-info p {
        margin: 0 0 10px; 
    }

    .highlighted-info p strong {
        color: #343a40; 
    }

    .highlighted-price {
        color: #007bff; 
        font-size: 1.5em;
    }
</style>
<div class="container mt-5">
    <h2>Chi tiết Vé</h2>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Thông tin hành khách</h5>
            <p><strong>Tên:</strong> @Model.Ten</p>
            <p><strong>Số điện thoại:</strong> @Model.Sdt</p>
            <p><strong>CMND:</strong> @Model.CMND</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Thông tin vé</h5>
            <p><strong>Mã vé:</strong> @Model.MaVe</p>
            <p><strong>Giá vé:</strong> <span class="highlighted-price">@Model.Tien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span></p>
            <p><strong>Điểm đón:</strong> @Model.DiemDon</p>
            <p><strong>Hành lí:</strong> @Model.Hanhli</p>
            <p><strong>Ngày Đặt:</strong> @Model.NgayTao</p>
            <div class="highlighted-info">
                <p><strong>Chuyến :</strong> @Model.Chuyen.Ten.Split("-")[0] - @Model.Chuyen.Ten.Split("-")[1] </p>
                <p><strong>Ngày đi :</strong> @Model.Chuyen.ThoiGianDi</p>
                <p><strong>Xe :</strong> @Model.Chuyen.Xe.Ten</p>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Thanh toán</h5>
            <form asp-action="Payment">
                <div class="form-group">
                    <label for="email1">Email xác nhận:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email người gửi">
                </div>
                <div class="form-group d-flex justify-content-between align-items-center">
                    <div>
                        <label>Phương thức thanh toán:</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="momo" value="momo">
                            <label class="form-check-label" for="momo">Momo</label>
                            <br>
                            <img src="https://developers.momo.vn/v2/images/logo.png" alt="Momo" class="mt-2" style="width: 100px;">
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash">
                            <label class="form-check-label" for="cash">Tiền mặt</label>
                            <br>
                            <img src="https://th.bing.com/th/id/OIP.IEUB1OoiFFBUrQaKu1quigAAAA?rs=1&pid=ImgDetMain" alt="Tiền mặt" class="mt-2" style="width: 100px;">
                        </div>
                    </div>
                    <input value="@Model.Id" name="id" hidden />
                    <button type="submit"  class="btn btn-primary p-3">Thanh toán</button>
                </div>
            </form>
        </div>
    </div>
</div>
