@model List<ThanhBuoi.Models.Ve>
@{
    ViewData["Title"] = "Thanh toán";
    var totalPrice = Model.Sum(ve => ve.Tien);
}

<div class="container mt-5">
    <h2 class="mb-4">Thanh toán</h2>

    <div class="row">
        <div class="col-12 ">
            <div class="card mb-4 bg-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Chi tiết vé</h5>
                    @foreach (var ve in Model)
                    {
                        <div class="card mb-3 shadow-sm">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Mã vé: @ve.MaVe</h6>
                                <p><strong>Giá vé:</strong> <span class="text-danger">@ve.Tien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span></p>
                                <p><strong>Điểm đón:</strong> @ve.DiemDon</p>
                                <p><strong>Hành lí:</strong> @ve.Hanhli</p>
                                <p><strong>Ngày Đặt:</strong> @ve.NgayTao</p>
                                <div class="highlighted-info">
                                    <p><strong>Chuyến:</strong> @ve.Chuyen.Ten.Split("-")[0] - @ve.Chuyen.Ten.Split("-")[1]</p>
                                    <p><strong>Ngày đi:</strong> @ve.Chuyen.ThoiGianDi</p>
                                    <p><strong>Xe:</strong> @ve.Chuyen.Xe.Ten</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="card mb-4 bg-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Thông tin thanh toán</h5>
                    <form asp-action="Payment">
                        <div class="form-group mb-3">
                            <label for="email">Email xác nhận:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email người gửi">
                        </div>
                        <div class="form-group mb-4">
                            <label>Phương thức thanh toán:</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="momo" value="momo">
                                <label class="form-check-label" for="momo">Momo</label>
                                <br>
                                <img src="https://developers.momo.vn/v2/images/logo.png" alt="Momo" class="mt-2" style="width: 100px;">
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="paymentMethod" id="cash" value="cash">
                                <label class="form-check-label" for="cash">Tiền mặt</label>
                                <br>
                                <img src="https://th.bing.com/th/id/OIP.IEUB1OoiFFBUrQaKu1quigAAAA?rs=1&pid=ImgDetMain" alt="Tiền mặt" class="mt-2" style="width: 100px;">
                            </div>
                        </div>
                        @foreach (var ve in Model)
                        {
                            <input type="hidden" name="codetickets" value="@ve.Id" />
                        }
                        <div class="row align-items-center mb-4">
                            <div class="col-md-6">
                                <h5 class="card-title mb-0">Tổng giá trị</h5>
                                <p class="h4 text-danger">@totalPrice.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="submit" class="btn btn-primary p-3 w-50 w-md-50">Thanh toán</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
