@model ThanhBuoi.Models.VeHuy

@{
    ViewData["Title"] = "Chi tiết vé hủy";
}

<div class=" mt-5">
    <h2 class="mb-4">Chi tiết vé hủy</h2>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4 bg-light rounded">
                <div class="card-body">
                    <h5 class="card-title">Chi tiết vé hủy</h5>
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Mã vé hủy: @Model.Mave</h6>
                            <p><strong>Tên người hủy:</strong> @Model.Name</p>
                            <p><strong>CMND:</strong> @Model.CMND</p>
                            <p><strong>Email:</strong> @Model.Email</p>
                            <p><strong>Ngày hủy:</strong> @Model.ngaytao.ToString("HH:mm dd/MM/yyyy")</p>
                            <div class="highlighted-info">
                                <p><strong>Chuyến:</strong> @Model.chuyen.Ten</p>
                                <p><strong>Ghế:</strong> @Model.Ghe.Ten </p>
                                <p><strong>Hoàn tiền:</strong> <span class="text-success font-weight-bold">@Model.hoantien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
