@model ThanhBuoi.Models.DonHang

@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    var isWaiting = Model.Trangthai == TrangThaiDonHang.Waiting;
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .container-custom {
        background-color: #fff;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 2rem;
    }

    .card {
        margin-bottom: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .card-body {
        padding: 1.5rem;
    }

    .highlight {
        border-radius: 0.25rem;
        font-size: 1.1rem;
        color: #333;
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-control,
    .form-select {
        border-radius: 0.25rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .btn {
        padding: 0.5rem 1.5rem;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .btn:hover {
        transform: translateY(-2px);
    }

    .btn-danger {
        margin-left: 1rem;
    }

    .text-center {
        margin-top: 2rem;
    }

    .border-danger {
        border: 2px solid red !important;
    }

    @@keyframes spinner-grow {
        0% {
            transform: scale(0);
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }

    .spinner-border {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner-grow 0.75s linear infinite;
    }
</style>

<div class="m-4 container-custom @(isWaiting ? "border-danger" : "")">
    <div class="bg-primary text-white pt-1 pb-1">
        <h2 class="text-center text-light">Chi tiết đơn hàng</h2>
    </div>
    <div class="card my-4 shadow-sm">
        <div class="card-body">
            <h3>Chi tiết đơn hàng</h3>
            <div class="highlight">
                <p><strong>Trạng thái:</strong> @(Model.Trangthai == TrangThaiDonHang.Waiting ? "Đang đợi thanh toán" : "Đã thanh toán")</p>
            </div>
            <div class="highlight">
                <p><strong>Ngày tạo:</strong> @Model.NgayTao.ToString("dd/MM/yyyy")</p>
            </div>
            <div class="highlight">
                <p><strong>Tổng tiền:</strong> @Model.Tien.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
            </div>
        </div>
    </div>

    <div>
        @if (ViewBag.listChitietDonhang != null)
        {
            @foreach (DonHangChiTiet chitiet in ViewBag.listChitietDonhang)
            {
                <div class="card my-2 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Tên hàng: @chitiet.HangGui.TenHang</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Người gửi:</strong> @chitiet.HangGui.TenNguoiGui</p>
                                <p><strong>Số điện thoại người gửi:</strong> @chitiet.HangGui.SdtNguoiGui</p>
                                <p><strong>Địa chỉ người gửi:</strong> @chitiet.HangGui.DiaChiNguoiGui</p>
                            </div>
                            <div class="col-md-6">
                                <p><strong>Người nhận:</strong> @chitiet.HangGui.TenNguoiNhan</p>
                                <p><strong>Số điện thoại người nhận:</strong> @chitiet.HangGui.SdtNguoiNhan</p>
                                <p><strong>Địa chỉ người nhận:</strong> @chitiet.HangGui.DiachiNguoiNhan</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>Chuyến :</strong> @chitiet.HangGui.Chuyen.Ten</p>
                                <p><strong>Xe :</strong> @chitiet.HangGui.Chuyen.Xe.Ten</p>
                                <p><strong>Biển số xe :</strong> @chitiet.HangGui.Chuyen.Xe.BienSo</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Không có hàng trong đơn hàng này.</p>
        }
    </div>

    <form id="orderForm">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="@Model.Email" @(Model.Email != null ? "disabled" : "") required>
                </div>
                <div class="form-group mb-3">
                    <label for="mota">Mô tả:</label>
                    <textarea class="form-control" id="mota" name="mota" @(Model.Mota != null ? "disabled" : "")>@Model.Mota</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label>Phương thức thanh toán:</label><br>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <input type="radio" id="momo" name="paymentMethod" disabled value="momo" @(Model.PhuongThucThanhToan == "momo" ? "checked " : "")>
                            <label for="momo">Momo</label><br>
                            <img src="https://developers.momo.vn/v2/images/logo.png" alt="Momo" class="img-fluid mt-2" style="width: 100px;">
                        </div>
                        <div class="col-md-6 text-center">
                            <input type="radio" id="tienmat" name="paymentMethod" disabled value="cash" @(Model.PhuongThucThanhToan == "cash" ? "checked " : "")>
                            <label for="tienmat">Tiền mặt</label><br>
                            <img src="https://www.freeiconspng.com/uploads/cash-payment-icon-5.png" alt="Tiền mặt" class="img-fluid mt-2" style="width: 100px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.Trangthai == TrangThaiDonHang.Waiting)
        {
            <div class="text-center mt-3">
                <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
                <button type="button" class="btn btn-primary" id="btnThanhToan">Thanh toán</button>
                <button type="button" class="btn btn-danger ml-2" id="btnHuyDon">Hủy đơn hàng</button>
            </div>
        }
    </form>
</div>
