@model IEnumerable<ThanhBuoi.Models.DonHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_momoRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TienPhaiTra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_momoRes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienPhaiTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trangthai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
