@model ThanhBuoi.Models.Xe

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Xe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BienSo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BienSo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaXe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiXe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiXe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
