@model IEnumerable<ThanhBuoi.Models.Xe>

@{
    ViewData["Title"] = "Quản lí Xe";
}

<div class="container-fluid pt-4 px-4">
    <div class="row bg-light rounded justify-content-center p-4">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Quản lí Xe</h2>

            <!-- Create New button -->
            <div class="mb-4 text-end">
                <a asp-action="Create" class="btn btn-primary">Tạo mới </a>
            </div>

            <!-- Table list -->
            <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead class="table">
                        <tr>
                            <th scope="col">Tên Xe</th>
                            <th scope="col">Biển Số</th>
                            <th scope="col">Mã xe</th>
                            <th scope="col">Loại Xe</th>
                            <th scope="col" class="text-center">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                                <td>@Html.DisplayFor(modelItem => item.BienSo)</td>
                                <td>@Html.DisplayFor(modelItem => item.MaXe)</td>
                                <td>@(item.LoaiXe?.LoaiGheXe == LoaiGheXe.GiuongNam ? "Giường nằm" : "Ngồi")</td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Chi tiết</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
